{{ $item := .item }}
{{ $resource := partial "blox-core/functions/get_featured_image.html" $item }}

<div class="card">
  {{ with $resource }}
  {{ $image := .Resize "550x" }}
  {{ if ne $image.MediaType.SubType "gif" }}{{ $image = $image.Process "webp" }}{{ end }}
  <a href="{{ $link }}" {{ $target | safeHTMLAttr }} class="card-image hover-overlay">
    <img src="{{ $image.RelPermalink }}" alt="{{ $item.Title }}" loading="lazy">
  </a>
  {{ end }}
  <div class="card-text">
    <h4>{{ $item.Title }}</h4>
    {{ with $summary }}
    <p>{{ . }}</p>
    {{ end }}
  </div>
</div>
